torch
fasttext-wheel
gensim
ollama
google-generativeai
PyMuPDF
faiss-cpu
langchain-text-splitters
langchain-community
langgraph
langchain-google-genai
langchain-core
sentence-transformers
nltk
hf_xet
matplotlib
seaborn
